@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
:root {
  /*variables que usaremos varias veces*/
  --color-terminal: #292b36;
  --borde-redondo: 9px;
}
* {
  font-family: "Dosis", sans-serif;
}
body {
  justify-content: center;
  position: relative;
  background-image: url(https://image.freepik.com/vector-gratis/patron-cocina-abstracto_1042-277.jpg);
  color: rgb(161, 28, 139);
}
input,
button {
  border: none;
  outline: none;
  background-color: rgba(243, 35, 250, 0.945);
  color: rgb(161, 28, 139);
  font-size: 1.5em;
}
main {
  width: 40%; /*ancho*/
  position: relative;
  margin-left: auto;
  margin-right: auto; /*centramos*/
  padding: 30px; /*relleno por todos lados*/
  text-align: center;
  box-shadow: 8px 8px 60px 3px rgb(0 0 0/75%); /*esto sig que en el eje de X y de Y se vera igual, luego que tan borrosa sera (blur-radius y cuanto abarcará (spread radius) y el color*/
  background-color: rgba(243, 35, 250, 0.945);
  border-radius: var(--borde-redondo);
}
/*agregaremos un fondo de color con cierta opacidad para que la letra resalte sin que se pierda el dibujo*/
h1 {
  margin: 0;
  border-radius: var(--borde-redondo);
  background-color: #fff;
  opacity: 85%;
  text-align: center;
  margin-top: 6%;
  color: black;
  font-size: 250%;
  font-weight: 200; /*grosor*/
}
/*daremos forma al nombre de la app ubicado dentro de "main"*/
h2 {
  margin: 0;
  text-align: center;
  color: lightcyan;
  font-size: 3em;
}
/*daremos formato a ambos input del main... el que ingresa la info y el que la regresa*/
#inputCipher,
#outputCipher {
  border-radius: var(--borde-redondo);
  text-align: center;
  font-size: 150%;
  background-color: black;
  padding: 0 10px 10px;
  width: 80%;
}
/*daremos colores diferentes a los input por ello los trataremos por separado*/
#inputCipher {
  color: white;
}
#outputCipher {
  color: green;
}
.footer {
  background-color: #fff;
  opacity: 90%;
  bottom: 10px; /*espacio que tendrá tomado desde abajo*/
  position: fixed; /*no se perderá al hacer scroll*/
  text-align: center;
  border-radius: var(--borde-redondo);
}
/*daremos forma a la sección que agrupa los link*/
.constainer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30%;
}

.caja1,
.caja2 {
  background-color: rgb(246, 184, 252);
  display: flex;
  opacity: 90%;
  border-radius: 70px;
  text-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  cursor: pointer;
  padding: 10px 0 10px 30px;
  width: 15em;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 1.2;
  font-size: 1.5rem;
  border: none;
  margin-top: 1em;
  margin-left: 36%;

}
a:link {
  font-size: 100%;
  text-decoration: none;
 
}
@media only screen and (min-width: 426px) and (max-width: 780px) {
  main {
    width: 50%; /*ancho*/
  }
  h1 {
    font-size: 2em;
  }
  h2 {
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
  }
  .caja1,
  .caja2 {
    margin-top: 1em;
    margin-left: 10em;
    width: 13em;
    align-content: center;
    margin-left: 17%;
  }
}
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 150%;
  
  }
  h2{
    font-size: 160%;
    margin-bottom: 3px;
  }
  #inputCipher,
#outputCipher {
 
  font-size: 80%;
  background-color: black;
  padding: 0 10px 10px;
  width: 80%;
}
#offsetCipher{
  width: 10%;
}
  main {
    width: 50%;
  }
  .caja1,
  .caja2 {
    width: 60%;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2;
    font-size: 1rem;
    margin-top: 0.3em;
    margin-left: 17%;
  }
}
